*,
*::after,
*::before {
  position: relative;
  box-sizing: border-box;
}

html {
  font-family: $default;
  font-size: $default-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

body {
  margin: 0;
  padding: 0;
  background: $body;
  font-size: $body-size;
  font-family: $main-font;
  color: $text;
}

::selection {
  background: $highlight;
}

a {
  color: $links;
  text-decoration: none;

  &:hover {
    color: $hover;
  }
}

strong {
  font-weight: bold;
}

main,
header {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 720px;
  margin: 50px auto;

  @media (max-width: 720px) {
    margin: 25px auto;
    padding-right: 5%;
    padding-left: 5%;
  }
}

header {
  align-items: center;
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: 720px) {
    margin-bottom: 25px;
  }
}

h1,h2,h3,h4,h5 {
    font-family: $main-font;
    font-weight: 800;
    text-align: center;
    line-height: normal;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 4rem;
    @media (max-width:380px) { 
        font-size: 3rem;
        line-height: 3rem;
    }
    @media (max-width:720px) { 
        font-size: 3.75rem;
        line-height: 3.75rem;
        letter-spacing: 2px;
    }
}

h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: 2.2rem;
    @media (max-width:380px) { 
        font-size: 1rem;
        line-height: 1.2rem;
    }
    @media (max-width:720px) { 
        font-size: 1.20rem;
        line-height: 1.3rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    max-width: 500px;
    margin-bottom: 25px;;
}
